#buy-paper-page {
    height: 90vh;
}
.pay-log {
    font-family: Montserrat;
    justify-content: space-between;
    margin: 70px 3% 0 3%;
    display: flex;
}
.log {
    width: 75%;
    float: left;
    position: relative;
}
.log ul {
    display: flex;
    font-size: 15px;
    padding: 0;
}
.log ul li {
    display: block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    text-align: center;
}
.log ul #not-chosen {
    border: 2px solid #ebebee;
}
.log ul #chosen {
    border: 2px solid #23abea;
}
.log #transaction {
    width: 100%;
    position: absolute;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.log #transaction thead tr {
    background-color: #23abea;
    color: #fefefe;
    font-weight: bold;
}
.log #transaction th,
.log #transaction td {
    padding: 12px 5px;
}
.log #transaction tbody td a {
    color: #23abea;
}
.log #transaction tbody .done .status {
    color: #14bc14;
}
.log #transaction tbody .waiting .status {
    color: #142c64;
}
.log #transaction tbody .error .status {
    color: #ed2629;
}
.log #transaction tbody td a:hover {
    color: #ed2629;
}
.log #transaction tbody tr {
    border-bottom: 1px solid #dddddd;
}
.log #transaction tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.pay-log .buy-paper {
    display: block;
    width: 300px;
    margin: 20px 0 0 2%;
}
.pay-log .buy-paper #paperleft {
    display: block;
    text-align: center;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #23abea;
}
.pay-log .buy-paper text {
    font-size: 40px;
    color: #142c64;
}
.pay-log #buy-form {
    display: block;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
}
.pay-log #buy-form h4 {
    margin: 0 5px 5px 5px;
    text-align: center;
}
.pay-log #buy-form .fill {
    display: flex;
    position: relative;
    margin: 10px 0;
    padding: 7px;
    align-items: center;
}
.pay-log #buy-form .fill input,  
.pay-log #buy-form .fill select {
    width: 100px;
    position: absolute;
    right: 0%;
    padding: 7px;
    border: 1px solid #23abea;
    border-radius: 10px;
}
.pay-log #buy-form .submit {
    display: flex;
    position: relative;
    justify-content: center;
}
.pay-log #buy-form #submitButton {
    text-align: center;
    padding: 10px 15px;
    background-color: #142c64;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width: 1040px) {
    #buy-paper-page {
        position: relative;
    }
    .pay-log {
        width: 90%;
        margin: 70px 0 0 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .log {
        width: 100%;
        position: absolute;
        transform: translateY(200px);
    }
    .pay-log .buy-paper {
        margin: 10px;
        position: absolute;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .pay-log .buy-paper #paperleft {
        width: 250px;
    }
    .pay-log .buy-paper text {
        font-size: 100px;
        color: #142c64;
    }
    .pay-log #buy-form {
        margin: 0 0 0 20px;
    }
}