#big_one_1 {
	width: 125%;
	height: 85%;
	left: 0%;
	top: 11.8%;
	position: absolute;
}

#big_text {
	width: 50%;
	left: 0%;
	top: 75%;
	position: absolute;
	text-align: center;
	font-size: 2.5vw;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	word-wrap: break-word;
	background: linear-gradient(90deg, #4e23ea, #236fea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#hang_dau {
	width: 25%;
	left: 55.5%;
	top: 4.7%;
	position: absolute;
	text-align: center;
	color: black;
	font-size: 2vw;
	font-family: Montserrat;
	font-weight: 500;
	word-wrap: break-word;
}

#system_error_frame {
	width: 36%;
	height: 21%;
	left: 63.25%;
	top: 23.5%;
	position: absolute;
	background: white;
	box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
	border: 0.05em #d8d8d8 solid;
}

#gap_loi {
	width: 41%;
	left: 50.5%;
	top: 16%;
	position: absolute;
	text-align: center;
	color: black;
	font-size: 1.5vw;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	word-wrap: break-word;
}

#system_error {
	width: 11.8%;
	height: 20.7%;
	left: 50.9%;
	top: 16.3%;
	position: absolute;
	border-radius: 4px;
}

#HDSD_frame {
	width: 36%;
	height: 21%;
	left: 63.25%;
	top: 49%;
	position: absolute;
	background: white;
	box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
	border: 0.05em #d8d8d8 solid;
}

#HDSD {
	width: 41%;
	left: 50.5%;
	top: 45.5%;
	position: absolute;
	text-align: center;
	color: black;
	font-size: 1.5vw;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	word-wrap: break-word;
}

#below_system_error {
	width: 11.8%;
	height: 20.7%;
	left: 50.9%;
	top: 46%;
	position: absolute;
	border-radius: 4px;
}

#ra_mat_he_thong_frame {
	width: 36%;
	height: 21%;
	left: 63.25%;
	top: 74.5%;
	position: absolute;
	background: white;
	box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
	box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
	border: 0.05em #d8d8d8 solid;
}

#ra_mat_he_thong {
	width: 41%;
	left: 50.5%;
	top: 75.8%;
	position: absolute;
	text-align: center;
	color: black;
	font-size: 1.5vw;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	word-wrap: break-word;
}

#Dang_Hoang_Long_1 {
	width: 46%;
	left: 43%;
	top: 63.92%;
	position: absolute;
	text-align: center;
	font-size: 1em;
	font-family: Itim;
	font-weight: 400;
	word-wrap: break-word;
	text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
}

#Dang_Hoang_Long_2 {
	width: 46%;
	left: 43%;
	top: 94%;
	position: absolute;
	text-align: center;
	color: #0037ff(20.39, 20.39, 20.39, 0.2);
	font-size: 1em;
	font-family: Itim;
	font-weight: 400;
	word-wrap: break-word;
	text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
}

#Mai_Quoc_Tri {
	width: 46%;
	left: 42.1%;
	top: 34.5%;
	position: absolute;
	text-align: center;
	color: #0037ff;
	font-size: 1ew;
	font-family: Itim;
	font-weight: 400;
	word-wrap: break-word;
	text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
}

#thang_1 {
	width: 46%;
	left: 52.5%;
	top: 94%;
	position: absolute;
	text-align: center;
	font-size: 1em;
	font-family: Itim;
	font-weight: 400;
	word-wrap: break-word;
	text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
}

#thang_2 {
	width: 46%;
	left: 52.5%;
	top: 63.92%;
	position: absolute;
	text-align: center;
	color: rgba(20.39, 20.39, 20.39, 0.2);
	font-size: 1em;
	font-family: Itim;
	font-weight: 400;
	word-wrap: break-word;
	text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
}

#tieng_truoc {
	width: 46%;
	left: 52.5%;
	top: 34.5%;
	position: absolute;
	text-align: center;
	color: rgba(20.39, 20.39, 20.39, 0.2);
	font-size: 1em;
	font-family: Itim;
	font-weight: 400;
	word-wrap: break-word;
	text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
}

#man {
	width: 25%;
	height: 55%;
	left: 20%;
	top: 16.5%;
	position: absolute;
}

#woman {
	width: 25%;
	height: 55%;
	left: 1%;
	top: 16%;
	position: absolute;
	filter: contrast(120%);
}

#best {
	width: 5%;
	height: 11%;
	left: 55%;
	top: 2.5%;
	position: absolute;
}
