#view-history-page{
  height: 100vh;
  display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.view-history{
    font-family: Montserrat;
    justify-content: space-between;
    margin: 70px 3% 0 3%;
    display: flex;
}
.history {
	width: 100%; /* Use full width */
    height: calc(90vh - 100px); /* Max height minus margins/padding */
    position: relative;
    overflow-y: auto; /* Enable scrolling if content overflows */
}
.history #transaction{
	width: 100%;
    position: absolute;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.history #transaction thead tr {
	background-color: #23abea;
    color: #fefefe;
    font-weight: bold;
}
.history #transaction th,
.history #transaction td {
	padding: 12px 5px;
}
.history #transaction tbody td a {
    color: #23abea;
}
.history #transaction tbody .done .status {
    color: #67E618;
}
.history #transaction tbody .waiting .status {
    color: #142c64;
}
.history #transaction tbody .error .status {
    color: #FF8181;
}
.history #transaction tbody td a:hover {
    color: #ed2629;
}
.history #transaction tbody tr {
    border-bottom: 1px solid #dddddd;
}
.history #transaction tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .pagination button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
    border-radius: 50%;
    font-size: 14px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination .active {
    background-color: #0099ff;
    color: white;
    border-color: #0099ff;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination .prev, .pagination .next {
    border-radius: 50%;
    font-size: 16px;
  }

  
  .pagination .prev, .pagination .next {
    border-radius: 50%;
    font-size: 16px;
  }
